<footer class="mt-5">
  <div class="row text-center pt-5">
    <div class="col-sm-4">
      <h5>Contact Info</h5>
      <a href="tel:+23486752721"
        ><img class="me-3" src="./assets/images/call.png" alt="call" />+234 867
        527 21</a
      >
      <br />
      <a href="mailto:info@eduquiz.com"
        ><img
          class="me-3"
          src="./assets/images/email.png"
          alt="email"
        />info@eduquiz.com</a
      >
    </div>
    <div class="col-sm-4">
      <h5>Office Address</h5>
      <p>N0 8 Eduquiz complex Abuja, Nigeria</p>
    </div>
    <div class="col-sm-4">
      <h5>Copyright</h5>
      <p>&copy;Eduquiz Nigeria Limited</p>
    </div>
  </div>
</footer>
