<main class="body bg-light">
    <app-header></app-header>
    <app-page-heading [title]="'Create a new quiz'"></app-page-heading>

    <div class="border container mt-3">
        <div class="mt-4">
            <div class="alert alert-primary">
                <div class="d-flex justify-content-between p-3">
                    <div>
                        <h6 class="mb-4">Date Created: 17/4/2022</h6>
                        <h6>Total Available Score: 100</h6>
                    </div>
                    <div>
                        <h6 class="mb-4">Last Update: 17/4/2022</h6>
                        <h6>Type: Sub</h6>
                    </div>
                    <div>
                        <h6 class="mb-4">Duration (in mins): 70</h6>
                        <h6>Candidates: 5</h6>
                    </div>
                </div>
            </div>
            <h5 class="py-1 alert alert-primary text-center">
                question Paper title
            </h5>
        </div>

        <div class="mt-5">
            <!--Questions Come Here-->
            <app-question [disableEdit]="true"></app-question>
        </div>
    </div>
    <app-footer></app-footer>
</main>