.banner {
	width: 0;
	height: 0;
	border-top: 700px solid rgb(19, 23, 71);
	border-right: 2700px solid transparent;
}
.home-cols {
	margin: 150px 0 0 0;
}
.service {
	color: rgb(187, 233, 240);
}
.round-img {
	max-height: 450px;
	max-width: 450px;
	background-color: rgb(187, 233, 240);
}
.write-up {
	width: 70%;
	color: rgb(19, 23, 71);
}

.write-up span {
	font-weight: bolder;
}

.take-quiz {
	background-color: rgb(187, 233, 240);
	height: 60px;
	width: 250px;
	margin: 0 auto;
	color: rgb(19, 23, 71) !important;
}
.take-quiz:hover {
	background-color: rgb(111, 196, 209);
	color: white;
}

.createdQuiz:hover,
.createdResult:hover {
	background-color: rgb(207, 226, 255);
}

@media (max-width: 991.98px) {
	.write-up {
		margin-top: 120px !important;
	}
	.round-img {
		margin-top: 0 !important;
	}
}

@media (max-width: 400px) {
	.banner {
		border-top: 650px solid rgb(19, 23, 71);
	}
	.write-up {
		margin-top: 180px !important;
	}
}